<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="#{playerOverview}"></h1>
        </div>
    </div>
    <div class="row row-cols-2 masoned">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header" th:text="#{basicData}"></div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th th:text="#{playersOnline} + ':'"></th>
                                <td class="text-end" th:text="${playersOnline}"></td>
                            </tr>
                            <tr>
                                <th th:text="#{totalPlayers} + ':'"></th>
                                <td class="text-end" th:text="${playerCount}"></td>
                            </tr>
                            <tr>
                                <th th:text="#{lastThirtyDays} + ':'"></th>
                                <td class="text-end" th:text="${playersOnlineThirtyDaysCount}"></td>
                            </tr>
                            <tr>
                                <th th:text="#{averagePlayTime} + ':'"></th>
                                <td class="text-end" th:text="${averagePlayingTimeInMinutes}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header" th:text="#{lastOnline}"></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{players}"></th>
                                <th class="text-end" scope="col" th:text="#{before}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="player: ${twenthyLastOnlinePlayers}">
                                <td>
                                    <img th:src="'https://cravatar.eu/helmavatar/' + ${player.key}">
                                    <a th:href="@{/player?playername={playername}(playername=${player.key})}" th:text="${player.key}"></a>
                                </td>
                                <td class="text-end" th:text="${player.value}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header" th:text="#{topTen}"></div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr th:each="player: ${topTenPlayers}">
                                <td>
                                    <img th:src="'https://cravatar.eu/helmavatar/' + ${player.first}">
                                    <a th:href="@{/player?playername={playername}(playername=${player.first})}" th:text="${player.first}"></a>
                                </td>
                                <td class="text-end" th:with="medals=${player.second}">
                                    <i th:class="'fad fa-medal medal0'"></i>
                                    <span th:text="${medals.first}"></span>
                                    <i th:class="'fad fa-medal medal1'"></i>
                                    <span th:text="${medals.second}"></span>
                                    <i th:class="'fad fa-medal medal2'"></i>
                                    <span th:text="${medals.third}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>

    <script>
        let $grid = $('.masoned').imagesLoaded( function() {
            // init Masonry after all images have loaded
            $grid.masonry({
                percentPosition: true
            });
        });
    </script>
</html>