<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/frameworks/bootstrap/bootstrap.bundle.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/jquery/jquery-3.6.0.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/fontawesome/all.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/chartjs/chart.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/luxon/luxon.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/chartjs-luxon/chartjs-luxon.min.js}" data-cfasync="false"></script>
    <script th:src="@{/js/frameworks/popperjs/popper.min.js}" data-cfasync="false"></script>
    <link th:href="@{/css/frameworks/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/frameworks/fontawesome/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/general.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
</html>