<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
    <head>
        <title th:text="#{bestlistTitle}"></title>
        <link th:replace="@{fragments/header}">
    </head>
    <div id="wrapper">
        <link th:replace="@{fragments/navbar}">
    </div>
    <body>
        <link th:replace="@{fragments/sidebar}">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <span th:text="#{bestlistTitle}"></span>
                    </h1>
                </div>
            </div>
            <div class="row row-cols-3">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{MINED_BLOCKS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalMinedBlocksPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{PLACED_BLOCKS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalPlacedBlocksPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{PICKED_UP_BLOCKS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalPickedUpBlocksPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{CRAFTED_BLOCKS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalCraftedBlocksPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{DROPPED_BLOCKS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalDroppedBlocksPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{BROKEN_ITEMS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalBrokenItemsPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{items}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{PICKED_UP_ITEMS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalPickedUpItemsPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{items}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{DROPPED_ITEMS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalDroppedItemsPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{items}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{CRAFTED_ITEMS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalCraftedItemsPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{items}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{USED_ITEMS}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="element, iterStat: ${totalUsedItemsPerPlayer}" th:if="${iterStat.index} < 10 and ${element.value} > 0">
                                    <td>
                                        <img th:src="'https://cravatar.eu/helmavatar/' + ${element.key.username}">
                                        <a th:href="@{/player?playername={playername}(playername=${element.key.username})}" th:text="${element.key.username}"></a>
                                    </td>
                                    <td class="text-end">
                                        <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                        <span th:text="${#numbers.formatDecimal(element.value, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{uses}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <span>.</span>
                        </div>
                    </div>
                </div>
                <div class="col" th:each="customKey: ${T(de.zweistein2.minestats.models.minecraftstats.CustomKeys).values()}">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{${customKey}}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr th:each="player, iterStat: ${#lists.sort(players, T(de.zweistein2.minestats.components.PlayerStatComparator).of(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM, customKey))}" th:if="${iterStat.index} < 10 and ${player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM).forStat(customKey)} > 0">
                                        <td>
                                            <img th:src="'https://cravatar.eu/helmavatar/' + ${player.username}">
                                            <a th:href="@{/player?playername={playername}(playername=${player.username})}" th:text="${player.username}"></a>
                                        </td>
                                        <td class="text-end" th:if="${customKey.name == 'DEATHS'}">
                                            <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                            <span th:text="${#numbers.formatDecimal(player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM).forStat(customKey), 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{deaths}"></span>
                                        </td>
                                        <td class="text-end" th:if="${#strings.contains(customKey.name, 'TIME')}">
                                            <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                            <span th:text="${T(de.zweistein2.minestats.controller.PlayerController).timeFormat(player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM).forStat(customKey) / 20 / 60, #locale)}"></span>
                                        </td>
                                        <td class="text-end" th:if="${#strings.endsWith(customKey.name, 'ONE_CM')}">
                                            <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                            <span th:text="${#numbers.formatDecimal(player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM).forStat(customKey) / 100, 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                        </td>
                                        <td class="text-end" th:unless="${customKey.name == 'DEATHS' or #strings.endsWith(customKey.name, 'ONE_CM') or #strings.contains(customKey.name, 'TIME')}">
                                            <i class="text-start" th:if="${iterStat.index} < 3" th:class="'fad fa-medal medal' + ${iterStat.index}"></i>
                                            <span th:text="${#numbers.formatDecimal(player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).CUSTOM).forStat(customKey), 1, 'DEFAULT', 0, 'DEFAULT')}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <a th:href="'list?statCategory=CUSTOM&statName=' + ${customKey}" th:text="#{showMore}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <link th:replace="@{fragments/footer}">
</html>
