<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
    <head>
        <title th:text="#{blocks}"></title>
        <link th:replace="@{fragments/header}">
        <link th:href="@{/css/frameworks/minecrafticons/minecrafticons.css}" rel="stylesheet" type="text/css">
    </head>
    <div id="wrapper">
        <link th:replace="@{fragments/navbar}">
    </div>
    <body>
        <link th:replace="@{fragments/sidebar}">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <i th:if="${blockName != null}" class="icon-32 vertical-align" th:classappend="${#strings.replace(#strings.toLowerCase(blockName), '_', '-')}"></i>
                        <span th:text="#{blocks}"></span>
                    </h1>
                </div>
            </div>
            <div class="row row-cols-2" th:if="${blockName != null}">
                <div class="col" th:each="categoryKey: ${ {'MINED', 'USED', 'PICKED_UP', 'CRAFTED', 'DROPPED'} }" th:if="${#lists.sort(players, T(de.zweistein2.minestats.components.PlayerStatComparator).of(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).valueOf(categoryKey), T(de.zweistein2.minestats.models.minecraftstats.BlockKeys).valueOf(blockName)))[0].stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).valueOf(categoryKey)).forStat(T(de.zweistein2.minestats.models.minecraftstats.BlockKeys).valueOf(blockName))} > 0 ">
                    <div class="card mb-4">
                        <div class="card-header" th:text="#{${categoryKey}} + ': ' + #{${blockName}}"></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr th:each="player, iterStat: ${#lists.sort(players, T(de.zweistein2.minestats.components.PlayerStatComparator).of(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).valueOf(categoryKey), T(de.zweistein2.minestats.models.minecraftstats.BlockKeys).valueOf(blockName)))}" th:if="${iterStat.index} < 10 and ${player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).valueOf(categoryKey)).forStat(T(de.zweistein2.minestats.models.minecraftstats.BlockKeys).valueOf(blockName))} > 0">
                                        <td>
                                            <img th:src="'https://cravatar.eu/helmavatar/' + ${player.username}">
                                            <a th:href="@{/player?playername={playername}(playername=${player.username})}" th:text="${player.username}"></a>
                                        </td>
                                        <td class="text-end">
                                            <span th:text="${#numbers.formatDecimal(player.stats.forCategory(T(de.zweistein2.minestats.models.minecraftstats.CategoryKeys).valueOf(categoryKey)).forStat(T(de.zweistein2.minestats.models.minecraftstats.BlockKeys).valueOf(blockName)), 1, 'DEFAULT', 0, 'DEFAULT')} + ' ' + #{blocks}"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-end">
                            <a th:href="'list?statCategory=' + ${categoryKey} + '&statName=' + ${blockName} + '&isBlock=true'" th:text="#{showMore}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1" th:if="${blockName == null}">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row row-cols-2">
                            <div class="col-12 mb-2">
                                <div class="text-center" th:text="#{blockSelection}"></div>
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="text-center" th:text="#{blockSelection}"></div>
                            </div>
                            <div class="col-6">
                                <form class="d-flex">
                                    <div class="input-group" id="block-search">
                                        <input class="form-control" id="block_search_input" type="search" th:placeholder="#{searchBlock}" aria-label="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="blocklist">
                        <div th:replace="@{fragments/blocks/blocklist}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <link th:replace="@{fragments/footer}">

    <script>
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        const blockSearchInput = document.getElementById("block_search_input");
        const blockSearchHandler = function(event) {
            $.ajax({
                url: "blocksearch",
                method: "get",
                data: {
                    "name": blockSearchInput.value
                },
                success: function(data) {
                    document.getElementById("blocklist").innerHTML = data;
                }
            })
        }

        blockSearchInput.addEventListener('input', blockSearchHandler)
    </script>
</html>
